.accordion-button:not(.collapsed){
    color: #000000 !important;
    font-weight: bold!important;
}


.accordion-item .accordion-button:not(.collapsed){
    background-color: #A1A1A15A;
}

.collapse.show{
    border: 1px solid rgba(55, 58, 60, 0.25);
}